[2019-04-25 12:39] gerodur opened #434 "Implement the new about us section on the proposed homepage"
## I'm submitting a ...

<pre><code>
[x] Feature request
</code></pre>

## New Section

A new section called "About us" will be just below the homepage cover section. This section will contain a cover image and text below it about Tunga and why it would be a great fit for any organisation seeking to develop software

![about-responsive](https://user-images.githubusercontent.com/49911346/56736165-2

[2019-04-25 13:12] gerodur opened #435 "Implement "Our Services" section on homepage"
## I'm submitting a ...

<pre><code>

[x] Feature request
[ ] Enhancement
</code></pre>

## Explanation

Just below the about section, we have the Our Services section. Our services shows a horizontal carousel of the services offered by Tunga and a summary of the use cases for the services to help guide the user on their choices.

The horizontal scroll on services is activated by the left right ar

[2019-04-26 09:12] gerodur opened #436 "Implement the new case studies section of the proposed design on the homepage"
## I'm submitting a ...

<pre><code>
[x] Feature request
</code></pre>

## Current

Current implementation can be found on tunga.io below the video section

## Proposed

Proposed design will feature text in cards on the left and an image graphic on the right, just below the Schedule a call cover section.

In the cards, different case studies will be accessible by horizontal carousel using arrows

[2019-04-30 06:27] gerodur opened #437 "Implement the new Footer section of the homepage"
## I'm submitting a ...
<pre><code>
[x] Feature request
</code></pre>

## Current

The current footer is found on tunga.io if you scroll to the bottom of any page

## New / Proposed
The new footer should have the following sections:-
1. As featured in section: This is the top part of the footer which has image links to articles written about Tunga in different media outlets all over the world. The

[2019-04-30 07:26] gerodur commented on #417
@bartleijssenaar is this still going to be done?

[2019-04-30 07:29] gerodur commented on #412
@bartleijssenaar which of these possible solutions should we begin with, and what would be the way we would achieve this?

[2019-05-01 08:41] bartleijssenaar commented on #417
Intercom only @gerodur

[2019-05-01 09:27] bartleijssenaar commented on #412
I believe this should be a wizard (series of screens), which walk the developer through important information he needs to succeed on Tunga. Which steps he devs need to undertake will have to be identified. @reiniervs I will make a draft for this tomorrow and share it with you.

[2019-05-02 02:03] gerodur commented on #417
ok

[2019-05-02 02:06] gerodur commented on #412
perfect!

[2019-05-02 02:40] gerodur commented on #278
@davidsemakula was this resolved on Tuesday?

[2019-05-02 08:02] gerodur opened #438 "Notification should be sent to a Tunga admin when a payment is created by a PM"
## I'm submitting a ...

<pre><code>
[x] Enhancement
</code></pre>

## Current behavior

Currently the Tunga Admin does not receive a notification when a payment is created by a PM, and as such cannot generate an invoice for the payment

## Expected behavior

As soon as a PM creates a new payment, the Tunga admin should receive a notification so that he can generate an invoice

## What is the moti

[2019-05-02 13:33] gerodur commented on #437
@davidsemakula I think this is 2 hours tops? What do you think?

[2019-05-02 13:39] gerodur commented on #436
@davidsemakula 3 hours?

[2019-05-02 13:56] gerodur commented on #435
@davidsemakula 1 hour

[2019-05-02 13:58] gerodur commented on #434
@davidsemakula 1 hour

[2019-05-02 14:48] gerodur commented on #433
@davidsemakula 30 minutes?

[2019-05-02 14:50] gerodur commented on #432
@bartleijssenaar could you add information on this, of what would be on this form, so we can know how to add timelines to it?

[2019-05-02 14:54] gerodur commented on #430
@davidsemakula 2 hours?

[2019-05-02 15:00] gerodur commented on #429
Responsive view:

![Screen Shot 2019-05-02 at 17.57.39.png](https://images.zenhubusercontent.com/5cc3b145cd78cd6a07eb0879/90eb7713-8285-443e-bbda-660b43d38f30)![Screen Shot 2019-05-02 at 17.58.33.png](https://images.zenhubusercontent.com/5cc3b145cd78cd6a07eb0879/d97de846-43f9-4242-b309-2f9c429583f1)

[2019-05-02 15:01] gerodur commented on #429
@davidsemakula 6 hours?

[2019-05-02 15:47] gerodur commented on #422
@davidsemakula 6 hours?

[2019-05-02 15:49] gerodur commented on #425
@davidsemakula 3 hours?

[2019-05-02 15:51] gerodur commented on #426
@davidsemakula 6 hours?

[2019-05-02 15:53] gerodur commented on #427
@davidsemakula 8 hours?

[2019-05-02 15:54] gerodur commented on #428
@davidsemakula 1 hour?

[2019-05-03 09:38] bartleijssenaar commented on #432
Yes, working on this as well today.

[2019-05-03 12:24] bartleijssenaar commented on #412
@gerodur, this will be an ongoing feature. For now, we would like to build a compliance wizard, which is a simple quiz. The logic and content can be found here:
Note: please make a separate issue for this and leave this one open and keep me and @reiniervs assigned to it.

This will be the first wizard flow for new developers working on their first project:
https://docs.google.com/document/d/1v2TwJ

[2019-05-03 12:24] bartleijssenaar commented on #412
Designs will follow. The design will only use existing UI elements of the platform.

[2019-05-06 19:53] #431 closed

[2019-05-06 20:17] #424 closed

[2019-05-07 10:05] gerodur commented on #432
@bartleijssenaar were you able to finish working on this?

[2019-05-07 10:40] gerodur commented on #402
@bartleijssenaar was there more information given on this feature?

[2019-05-07 16:10] Procaseycash commented on #436
@gerodur This should be 4hrs considering responsiveness, content design and horizontal pagination.

[2019-05-08 10:05] Procaseycash commented on #425
@gerodur are all these screens highlighted here to be 3 hrs? If yes, 3hrs does not sound feasible for this.

[2019-05-08 10:08] Procaseycash commented on #435
Considering the card design here and and navigation. 1hr is not feasible. Also I can see an overview screen where user can close. This sum up to two different screens.

[2019-05-09 11:42] gerodur opened #439 "Add a project state where project reports are automatically not requested from developers/sent to the client"
## I'm submitting a ...
<pre><code>
[x] Enhancement
</code></pre>

## Current behavior
Currently missed project updates reports are sent out from from projects where they are irrelevant, like when a developer is not actively working on a project in the active state of the project. There should be a project state, like "inactive" or "paused" that does not request reports from a developer

## Expect

[2019-05-09 13:31] ProssyMugeni commented on #420
Hi,
Have started working on the assignment. Thanks
Mugeni Prossy,
0759551329 / 0788557706,
mugeniprossy53@gmail.com

On Thu, May 9, 2019 at 2:43 PM gerodur <notifications@github.com> wrote:

[2019-05-10 08:47] #434 closed

[2019-05-10 08:48] #436 closed

[2019-05-10 08:48] #435 closed

[2019-05-14 06:23] gerodur commented on #433
@Procaseycash please use the images here in case you get confused by the figma ui

[2019-05-14 07:44] gerodur commented on #420
Testing comment

[2019-05-14 09:17] ProssyMugeni commented on #437
in progress

[2019-05-15 14:40] bartleijssenaar opened #441 "New whitepaper/research report page"
Objective copy our current whitepaper page and add new content to the copy

text:
Nowadays, scaling your business almost always requires using IT. Without software development no growth. Which explains why there is such a big shortage: 83% of companies have trouble finding tech talent. So what to do?

Tech companies increasingly choose to mobilize remote workers and work with distributed teams. In

[2019-05-15 14:45] bartleijssenaar commented on #441
![preview research report](https://user-images.githubusercontent.com/12690878/57784696-a3197180-7730-11e9-9592-20dacc9660e3.png)

[2019-05-15 14:49] bartleijssenaar commented on #441
![headerresearch report](https://user-images.githubusercontent.com/12690878/57785086-51251b80-7731-11e9-8b8b-41ea244453a0.jpg)

[2019-05-16 10:23] gerodur opened #442 "Bug in the submission form for education experience for developer's profiles."
![tunga_profile_expTab_addEducation 1.png](https://images.zenhubusercontent.com/5cc3b145cd78cd6a07eb0879/964597a1-0689-41e2-87f6-e1363a082736)

##Description
The Dates of the education period are not being displayed on the frontend after being saved
Requested Delivery Date: dd/MMM/YYYY

17/05/2019
</code></pre>

[2019-05-17 07:52] gerodur opened #443 "Tunga SSL issue"
![image (5)](https://user-images.githubusercontent.com/49911346/57911730-35d12200-7891-11e9-9263-a4cadb1a795e.png)

## Priority
Highest

Expired: Friday, 17 May 2019 at 02:59:59 East Africa Time

[2019-05-17 08:06] gerodur commented on #443
@bartleijssenaar you will have to purchase a new SSL certificate ~ Remo

[2019-05-17 08:46] davidsemakula commented on #443
Fixed @gerodur

[2019-05-17 08:46] #443 closed

[2019-05-19 20:10] kingstuffy commented on #430
Time required: 3hrs

[2019-05-19 20:12] kingstuffy commented on #433
Time required: 3hrs @gerodur

[2019-05-19 20:16] kingstuffy commented on #425
@gerodur time required: 4.5hrs

[2019-05-19 20:17] kingstuffy commented on #426
Time required: 6hrs @gerodur

[2019-05-19 20:18] kingstuffy commented on #427
@gerodur 7hrs

[2019-05-21 07:55] gerodur opened #444 "Error message not disappearing"
Ernesto: Small bug report. first i filled in my gmail address and (rightly) got this error message. however, upon filling in a valid business mail the message does not disappear (although downloading is possible)

[2019-05-21 08:50] gerodur commented on #404
@bartleijssenaar any luck designing the questions

[2019-05-22 12:09] bartleijssenaar commented on #404
https://docs.google.com/document/d/1v2TwJWYBZG1R0eTtYakCioSzkxCt2VxsK08wgKTF_58/edit

[2019-05-22 12:45] gerodur commented on #399
@bartleijssenaar I reached out to testdome.com. They offer API access https://testdome.com/api/v1/help

From what I gather, we would:
- Create an account on testdome.com, then
- Create a bunch of tests eg ReactJS, angularJS, Django etc
- Use the API to invite a candidate to a test (or view them from the account we create)
- Use the API to get results from the test (or view them from the account we

[2019-05-23 14:16] bartleijssenaar opened #445 "Metabase - Revenue collection > Due 'date' invoice"
Instead of a graph showing when the revenue was collected, we would like to see when invoiced payments are due. We would like to have a monthly overview of this plus a weekly overview.

[2019-05-23 14:26] bartleijssenaar opened #446 "Metabase - Revenue Share Paid Out to Developers moving average"
Revenue Share Paid Out to Developers should be calculated with a moving average to have a better representation of the % that was paid out to the developers.

[2019-05-23 14:26] bartleijssenaar commented on #446
@davidsemakula is this clear enough?

[2019-05-23 19:18] bartleijssenaar commented on #433
@kingstuffy, hereby the first batch of assets.

1st section video:
https://drive.google.com/drive/u/0/folders/1QLPu9_9qUjivueTXIIeoNxktmrfeejoY
Image 2nd section:
https://drive.google.com/drive/u/0/folders/1gxSNJg7feRLZFYFTjeQdVwQsXnAJekRw
Assets 3rd section - not final yet
https://drive.google.com/drive/u/0/folders/12GuNWJNG16FFVX5J3TnRwePfr0snTmCO
4th section video:
https://drive.google.com/driv

[2019-05-24 07:34] davidsemakula commented on #446
@bartleijssenaar what's the moving average period? 3 months?

[2019-05-24 07:42] bartleijssenaar commented on #446
Yes 3 months.

[2019-05-24 09:03] bartleijssenaar commented on #433
5th section home (4 images for 4 case studies)
https://drive.google.com/drive/u/0/folders/1tVXs8U6Vl1YPp-5Y-QX3Hm1Ownhqbpwe

[2019-05-27 07:59] bartleijssenaar commented on #425
Video for the first section:
https://drive.google.com/drive/u/0/folders/1KI5uZh8qkLiDPZqehF54ENqKkvTT84cD

[2019-05-27 14:26] gerodur commented on #433
@kingstuffy all the video gifs are here https://drive.google.com/drive/folders/1ClMpZjN5N1PHhLiAO-BiBsrwvXiRRRkw

[2019-05-28 12:25] bartleijssenaar commented on #439
![Select days progress update pop up page](https://user-images.githubusercontent.com/12690878/58477669-6435e380-8154-11e9-814d-5e6fb5275451.jpg)
![Uploading Select days progress update.jpg…]()

[2019-05-28 12:36] bartleijssenaar commented on #439
Also in Zeplin, under tag '439'
Please note that I added already the new font and color. @gerodur we need to adjust the font & color once we launched our new landing pages.
cc @davidsemakula

[2019-05-29 07:50] bartleijssenaar commented on #426
Here are the pictures for the core team: https://drive.google.com/drive/u/0/folders/1E3Ro4H3JH2GE5XD6ZYYXZXftKe8S5apw
I will make a list with email and LinkedIn, title, and post it here in the evening.

Here the preview:
![teampreview](https://user-images.githubusercontent.com/12690878/58539207-22aa4480-81f7-11e9-8044-45d17c066535.png)

[2019-05-29 20:07] gerodur opened #450 "Permissions bug on projects"
Obia Williams says he can see this project as part of what he is working on, but he is not on the team at all https://tunga.io/projects/915/team

[2019-05-30 03:07] gerodur opened #451 "When selecting developers to pay, the dropdown of suggestions should only include developers currently working in an app"
## I'm submitting a ...
<pre><code>
[x] Enhancement
</code></pre>

## Current behaviour

It shows all developers in the Tunga platform when I try to payout developers. This might make someone accidentally choose the wrong developer to payout.

## Expected behavior

When selecting developers to payout it should only show developers currently working in the given project as payable by the PM

## Min

[2019-05-30 11:38] bartleijssenaar commented on #426
@kingstuffy tagging you to make sure you receive this :-)

[2019-05-30 12:00] bartleijssenaar commented on #426
Here the list with details you will need:
https://docs.google.com/spreadsheets/d/1vfvTjkrhXfQS9IGEGHOnO99toMcGiucrXRRBzJNaTiY/edit#gid=0

[2019-06-03 07:44] bartleijssenaar opened #453 "Matebase: Add skills used on Tunga projects"
As a horizontal bar graph we would like to see the skills that are mostly used on Tunga projects.
This will be the total counts of all technical skill tagged to active and archive projects

[2019-06-03 08:36] bartleijssenaar opened #454 "Actual project duration"
We would like to see a bar graph with the actual project duration. Currently we only have a pie-chart for expected duration but actual duration is more valuable.

End data - start date = duration

group in the following duration spans

0-1 month
1-3 months
4-6 months
6-9 months
9 month and above

[2019-06-03 09:01] bartleijssenaar opened #455 "Metabase: Split missed updated metrics > Client and developer"
We would like to split the missed updates and percentage of missed updates based on the user type. We would like to see the 2 metrics for developers and client.

[2019-06-03 09:14] bartleijssenaar opened #456 "Metabase: Active user enhancement"
We would like to have more insights regarding the active developer users on Tunga.

We would like to see a bar graph with the time spans when a developer user has logged in for the last time.

- Last week
- Last 30 days
- Last 3 months
- Last 6 months
- Longer than 6 months ago

[2019-06-03 14:32] bartleijssenaar opened #457 "Assign a label to a project"
We would like to have a label assigned to each project. The label is assigned when creating a project and can be edited in the settings of a project.

There are 3 different labels
-  Project
- Dedicated
- Internal

Designs below and can be found on Zeplin with tag #457:

![Project_label](https://user-images.githubusercontent.com/12690878/58809924-2ab21c00-861d-11e9-80fd-47bfe15f7d67.jpg)
![Project

[2019-06-05 04:53] gerodur opened #458 "Contact us message structure is wrong"
## I'm submitting a ...

<pre><code>
[x] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[x] Enhancement
</code></pre>

## Current behavior

See image

![Screenshot 2019-05-24 at 12.34.44.png](https://images.zenhubusercontent.com/5cc3b145cd78cd6a07eb0879/4a21641f-d976-4d4e-8312-c36dedd74f17)

[2019-06-10 09:58] gerodur opened #459 "As a developer/ PM if my project progress report is 100%, I should stop getting requests for project updates"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[x] Enhancement
</code></pre>

## Current behavior

## Expected behavior

Currently if a PM / Dev is at 100% progress, the system keeps requesting the developer for progress reports

## Minimal instructions for reproducing the problem (optional fo

[2019-06-11 08:56] gerodur commented on #403
@bartleijssenaar do you by any chance have a design for this ready?

[2019-06-11 09:04] gerodur commented on #439
@assekalala this requires the backend to be able to store days on which project reports are required. Can you work on an enhancement for this? When you are done, you can reassign this to me

[2019-06-11 09:57] gerodur commented on #451
@ProssyMugeni adding you to this to work on the front end parts. @mbabaliiryn could you share the parts that require frontend work with @ProssyMugeni ?

[2019-06-12 12:35] gerodur commented on #400
@bartleijssenaar please share the design for this

[2019-06-12 12:37] gerodur commented on #404
@bartleijssenaar any chance you could share a design for this?

[2019-06-12 12:40] gerodur commented on #411
@bartleijssenaar could you design this

[2019-06-12 12:47] gerodur commented on #413
@bartleijssenaar could you share a design for this?

[2019-06-12 12:58] gerodur opened #461 "As a PM I would like to be able to see links to public repositories and websites that developers have worked on from the developer's profile so that I can gauge if they are good at development"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[x] Enhancement
</code></pre>

## Current behavior

Currently, there is nowhere on the developer's profile that a PM or manager can see their public repo URLs or websites and apps they have worked on

## Expected behavior

Input for developers to

[2019-06-12 12:58] gerodur commented on #461
@bartleijssenaar could you also work on a design for this?

[2019-06-12 15:02] gerodur commented on #461
@aleku399 the design for this will be provided tomorrow evening. You can however check it out

[2019-06-12 15:18] gerodur commented on #457
@aleku399 this one already has a design

[2019-06-13 05:45] davidsemakula commented on #451
Backend is done, use the `project` param to filter users ... value should be the `project id`
cc @gerodur

[2019-06-13 06:06] gerodur opened #462 "Implement the Tesla navigation on the new UI"
## I'm submitting a ...
<pre><code>
[x] Enhancement
</code></pre>

## Current behavior

No Tesla navigation yet on the new UI.

## Expected behavior

The navigation on the left of the tesla website, tesla.com, should be added to Wale's pull request

## Minimal instructions for reproducing the problem (optional for feature requests)

## What is the motivation / use case for changing the behavior?

[2019-06-13 06:09] gerodur opened #463 "Total on invoices needs to fixed to use decimal library instead of floating point math"
Currently, the invoices generated use floating point math instead of the decimal library to determine the total amount on the invoice

[2019-06-13 10:26] gerodur commented on #451
@ProssyMugeni see above

[2019-06-14 14:17] bartleijssenaar commented on #413
@gerodur this one needs to go to Boma, I can't work with Figma. Can you explain the difference between a developer profile and designs profile so he can create the design?

[2019-06-14 14:21] bartleijssenaar commented on #461
This one should also go to Boma. But they can include the links in the text. Should that be enough for now? Who came up with this feature?

[2019-06-14 14:27] bartleijssenaar commented on #461
Do we really want to keep the links internal or also communicate this to clients/visitors?

[2019-06-14 14:38] bartleijssenaar commented on #400
We don't need a separate design for this, this will be in the same format for an external project or work experience.

![Screenshot 2019-06-14 at 16 36 22](https://user-images.githubusercontent.com/12690878/59516897-9c625380-8ec2-11e9-8481-824325efb43e.png)

We will add behind the project or job title in red (hex #DA3451) for Tunga.

The data for this needs to come directly from our system.

[2019-06-16 09:49] assekalala commented on #442
@gerodur this is a frontend issue. The api returns the `start_month, start_year, end_month, end_year` details for each experience

[2019-06-17 07:14] gerodur commented on #413
@bartleijssenaar I was also pondering about this. Perhaps we should add a flag when a developer is creating their profile for them to select which kind of developer they are, between front end developer, backend developer, full stack developer, UX Designer so that we can easily put a difference, otherwise I think for now, all developers should have a section where they can add links to portfolios

[2019-06-17 10:35] bartleijssenaar commented on #413
For now, let's make a difference between dev and designer.

@davidsemakula

How does this work with user types?

I think we might need to restructure this, perhaps as follows:

Project owner user --> Client user
Project manager user <--
Developer user --> a) network_developer b) network_designer

wdyt? and is it easy to create multiple developer -- > network user types?

[2019-06-17 11:22] davidsemakula commented on #413
@bartleijssenaar @gerodur I guess the big question is what are the major differences between developer and designer in terms of app functionality.

That will inform how we implement the technical split. If mostly cosmetic, then just subtype label approach makes sense. If a lot more than cosmetic, then a new user type is warranted.

[2019-06-17 11:32] gerodur commented on #413
In my view, the differences are mainly cosmetic.

[2019-06-17 11:36] bartleijssenaar commented on #413
Cosmetic

[2019-06-17 11:37] gerodur commented on #400
@bartleijssenaar  according to the story details, we also need a field where users can see the number of projects (as an integer) a developer has worked on for Tunga. Where do you think we can put this?

[2019-06-17 11:42] gerodur commented on #400
Also, if we are going to have only one design, it appears we would also need an "Active" tag on Tunga projects that are currently going on, so everyone can see the developer is occupied @bartleijssenaar. What do you think

[2019-06-17 11:48] bartleijssenaar commented on #400
I think the automated approach would be better, I think it is wise that they can fill in the details of their responsibilities in their profile tho. An active tag would be great as well. This can be just a green dots behind the project title. wdyt?

[2019-06-17 12:02] gerodur commented on #400
Sounds good! 3 green dots below the Project title, left aligned for active projects. Do you think that could work @bartleijssenaar

[2019-06-17 12:07] gerodur commented on #413
@assekalala your task on this would be to add a subtype label to developer types, to distinguish between designers and developers

[2019-06-17 12:08] bartleijssenaar commented on #400
Why 3? Is one also ok? :-)

[2019-06-17 12:10] gerodur commented on #400
Yup. One works. Though if it is one, I suggest it be either on the left or right of the project title to save space and increase context @bartleijssenaar

[2019-06-17 12:23] davidsemakula commented on #413
@gerodur @assekalala I'll take this, let's give Abdu something more useful 😄

[2019-06-17 12:36] gerodur commented on #461
@bartleijssenaar I came up with this as part of the process of collecting more info about developers on the platform. I think we would need a title and a link field to the repository of the developer

[2019-06-17 13:21] bartleijssenaar commented on #413
@davidsemakula do you need a design for the cosmetics for the field for designers in their profile?
@gerodur, can you instruct Boma on the profile page that is visible for user and visitors of Tunga?

The fields for designers:

- Bio (same as developer user)
- Platforms you can design with
Tags = (Mobile, Web, UX, Prototype, User research, Wireframes, Graphic design, Photo editing, Animation, Vide

[2019-06-17 13:21] bartleijssenaar commented on #400
Both options work for me. Your call.

[2019-06-17 13:23] gerodur commented on #400
Left of Project title it is

[2019-06-17 13:32] gerodur commented on #404
@bartleijssenaar any luck with designs for this or do we have Boma to look at it?

[2019-06-17 13:44] gerodur opened #464 "API enhancement for new field for years of experience of developers"
## I'm submitting a ...

<pre><code>
[x] Enhancement
</code></pre>

## Current behaviour

Currently, the developers don't have a field where they can enter their total years of experience

## Expected behaviour

Have a field in the developers model which includes the years of experience.

## Minimal instructions for reproducing the problem (optional for feature requests)

## What is the motivation

[2019-06-17 13:49] bartleijssenaar commented on #404
This is me. Still working on it.

[2019-06-17 14:39] bartleijssenaar commented on #461
This will be another field to add @davidsemakula (while you're at it ;-) )

@gerodur can you ask Boma to include this in the design then?

[2019-06-17 22:16] bartleijssenaar opened #465 "DRAFT: Update progress reports"
The progress updates for the following users will receive an update:

Project manager user
Developer/designer user

In this document
https://docs.google.com/document/d/1mCkzdw45DegEFj8ODut5f77p_DRQy3oPGkAQVFKov54/edit
 you can find the logic of the progress report forms for both users. In Zeplin you can find the designs with all available fields and questions (<-- based on selections on options in

[2019-06-20 07:44] davidsemakula commented on #413
@gerodur I've added an `is_designer` attribute (boolean) to user API responses. A frontend dev should be able to pick it up from there.
Will update the data dictionary when I get some time.

In the future will transition the developer user type to `contractor` and with categories `developer` and `designer`. (may be add this to backlog? @gerodur )

The `category` attribute has already been added to

[2019-06-21 09:37] mbabaliiryn commented on #459
doc for the current one http://sandbox.tunga.io/guide.html#idUsers
All “core” components u see here http://sandbox.tunga.io/guide.html
can be found in the `core` folder under components here
https://github.com/tunga-io/tunga-web/tree/master/src/components/core
Review the user selector here https://github.com/tunga-io/tunga-web/blob/master/src/components/core/UserSelector.jsx
As you can see in the

[2019-06-21 13:29] gerodur opened #469 "Bug displaying in payments"
![image (12).png](https://images.zenhubusercontent.com/5cc3b145cd78cd6a07eb0879/72e93612-1fcf-4a12-b752-90615fbb5fbc)

Sprint 1 div is spilling into the next column in payouts

[2019-06-21 13:45] gerodur opened #470 "Alignment bug on the platform Projects page"
![image (13).png](https://images.zenhubusercontent.com/5cc3b145cd78cd6a07eb0879/7760b9e0-7322-4d69-85f9-a8045ffa4b86)

[2019-07-01 07:09] gerodur opened #471 "Issue downloading white papers on the website"
## I'm submitting a ...

<pre><code>
[ ] Bug report
</code></pre>

## Current behavior

Users are having issues downloading the whitepapers from the website

## Minimal instructions for reproducing the problem (optional for feature requests)

## What is the motivation / use case for changing the behavior?

## Requested Delivery Date (feature requests only):
01/Jul/2019

[2019-07-01 13:07] gerodur commented on #459
@remo4sam please review the PR

[2019-07-01 13:11] gerodur commented on #439
@remo4sam
please review @assekalala 's PR and if ready please give @ProssyMugeni the greenlight to start

[2019-07-03 07:19] #450 closed

[2019-07-03 08:49] gerodur opened #472 "Edwin P Magezi's profile information (https://tunga.io/network/edwinm_p) is not visible to other users yet he updated it."
## I'm submitting a ...

<pre><code>
[ ] Bug report
</code></pre>

## Current behavior

Edwin P Magezi's profile information (https://tunga.io/network/edwinm_p) is not visible to other users yet he updated it.
Edwin cannot be searched for either

## Expected behavior

All developer profiles should be viewable

## Minimal instructions for reproducing the problem (optional for feature requests)

Go

[2019-07-04 01:19] gerodur commented on #404
@bartleijssenaar any luck finishing this?

[2019-07-04 01:40] gerodur commented on #422
@assekalala on this please verify on the backend that a project can be both mobile and web

[2019-07-04 01:41] gerodur commented on #432
@bartleijssenaar were you able to finish this?

[2019-07-04 01:43] #415 closed

[2019-07-05 13:37] gerodur commented on #463
@davidsemakula did you fix this issue already?

[2019-07-05 13:39] gerodur commented on #457
@kingstuffy after completing the issues on Trello you can look into this

[2019-07-05 14:47] davidsemakula commented on #463
@gerodur nope, it still needs to fixed AFAIK

[2019-07-05 14:52] marthamareal commented on #463
Hey @davidsemakula, The `amount` and other related fields are already created using `DecimalField` in the API, do you think this issue is still valid?

[2019-07-05 16:37] davidsemakula commented on #463
@marthamareal frontend not API e.g https://github.com/tunga-io/tunga-web/blob/master/src/components/dashboard/projects/Pay.jsx#L493

[2019-07-10 06:25] gerodur commented on #433
@bartleijssenaar where can we find the text for our services section

[2019-07-10 06:33] gerodur opened #474 "Remove the deprecated Tunga_tasks app"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

## Expected behavior

## Minimal instructions for reproducing the problem (optional for feature requests)

## What is the motivation / use case for changing the behavior?

## Requested Delivery D

[2019-07-10 06:39] gerodur opened #475 "Show correct error message for /me endpoint when a user is not authenticated"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

## Expected behavior

## Minimal instructions for reproducing the problem (optional for feature requests)

## What is the motivation / use case for changing the behavior?

## Requested Delivery D

[2019-07-10 08:25] gerodur commented on #425
@aleku399

[2019-07-11 08:34] #471 closed

[2019-07-12 18:48] gerodur opened #478 "As a PM/dev I would like to be able to fill in my progress report from slack instead of the the platform"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

## Expected behavior

## Minimal instructions for reproducing the problem (optional for feature requests)

## What is the motivation / use case for changing the behavior?

## Requested Delivery D

[2019-07-17 07:28] remo4sam commented on #472
This has something to do with the user status pending

[2019-07-31 17:21] #417 closed

[2019-07-31 17:21] #416 closed

[2019-08-01 07:43] gerodur opened #481 "Chat messaging with Intercom"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

## Expected behavior

## Minimal instructions for reproducing the problem (optional for feature requests)

## What is the motivation / use case for changing the behavior?

## Requested Delivery D

[2019-08-01 14:19] vnuaha opened #482 "Developer progress update emails going to spam."
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

Email always ends up in spam folder yet it has marked it as not spam several times.
Developer: Theophilus Omoregbee
Email: theo4u@ymail.com
Project: Niluk

## Expected behavior

Have the develope

[2019-08-02 13:49] vnuaha opened #483 "unable to delete any account from admin environment"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

"I can't delete any account from my admin environment on Tunga. I'm getting a 500 server error."

## Expected behavior

## Minimal instructions for reproducing the problem (optional for feature r

[2019-08-14 09:22] vnuaha opened #484 "As a dedicated developer PM, I shouldn't be prompted to to fill PM progress reports"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

Project manager for dedicated reports gets email notifications to fill progress reports for each of the Dedicated developer projects
## Expected behavior

Reports should be filled by the client a

[2019-08-15 08:26] vnuaha opened #485 "Profile image appearing sideways during profile creation"
![Profile bug.PNG](https://images.zenhubusercontent.com/5d31916ba06a4456d94adb7c/49018e14-b635-4abb-a924-45cf99f16d62)
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

When attaching the picture,  It turns sideways and when you leave the page.

[2019-08-15 09:24] vnuaha commented on #485
![ss1_image_sideways.JPG](https://images.zenhubusercontent.com/5d31916ba06a4456d94adb7c/7be6fa0a-c709-45f1-9554-279c61a41cbf)![ss2_image_dissappears.JPG](https://images.zenhubusercontent.com/5d31916ba06a4456d94adb7c/5d9d5263-07bc-4a2f-b3db-74daecb3d5a0)

[2019-08-15 14:11] bartleijssenaar opened #487 "Adjusting the styling of our automated invoices on Tunga"
Dear Dev,

In this folder (link below), you can find the new designs for our invoices.

IMPORTANT: The font must be HK Grotesk instead of Proxima Nova, I couldn't use HK Grotesk since docs is not supporting this font.

https://drive.google.com/drive/u/0/folders/1iFYr4k7wX3jOHr_eZNg4XIVBbE1zdgA_

Round logo:
![Tunga_round](https://user-images.githubusercontent.com/12690878/63099356-37d07d00-bf75-11

[2019-08-16 14:43] bartleijssenaar opened #489 "Adjusting the styling of our platform (css changes)"
- Change logo \ we have a new color / - (top left)
- Change the font from Fira Sans to HK Grotesk (all across the platform)
- Change the color (pinkish red) #ed134d to #DA3451 (new red)(all across the platform)
Including, icons, lines, hovered items, text etc)
- Change the heading to fontweight 700 (1. in the screenshot)
- Change the color of the heading to #062e64 (1. in the screenshot)
![Screens

[2019-08-19 10:55] gerodur commented on #444
![Screenshot from 2019-05-21 09-36-11.png](https://images.zenhubusercontent.com/5cc3b145cd78cd6a07eb0879/1c5739d3-60da-4dee-8db5-7f16c1638b45)

[2019-08-28 09:41] vnuaha commented on #403
@bartleijssenaar this issue is a priority for Sprint # 2. Should I go ahead and ask for designs from @bomajosiah  or do you have some designs?

[2019-08-28 09:50] vnuaha opened #491 "Assigning Tech leads to projects as "Technical Managers""
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

No option to assign a Technical Manager to a project

## Expected behavior

For every project created, there should be an option to assign an internal developer as a Technical Manager.

The Techn

[2019-10-02 07:47] vnuaha opened #502 "Platform documentation: Users(Bart) Technical(David)"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

## Expected behavior

## Minimal instructions for reproducing the problem (optional for feature requests)

## What is the motivation / use case for changing the behavior?

## Requested Delivery D

[2019-10-02 11:18] vnuaha opened #503 "Admin epic"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

## Expected behavior

## Minimal instructions for reproducing the problem (optional for feature requests)

## What is the motivation / use case for changing the behavior?

## Requested Delivery D

[2019-10-02 11:19] vnuaha commented on #503
https://docs.google.com/document/d/1-dZfkViMwAHgBFDCN8m2mMxnch47MZ7gH0BKmH026oM/edit?ts=5d93338f

[2019-10-02 11:21] vnuaha commented on #268
@remo4sam  the current website performance needs to be reviewed too.

[2019-10-03 11:29] reiniervs commented on #403
Hereby a note on the logic:

- The rating should be visible for Tunga employees and the developer self only!
- The PM/client should rate the developer once every 2 weeks and have a timeframe of 48 hours to do so. If a PM/client misses this timeframe, an alert should be sent to a dedicated Slack channel (like the missed-updates).
- The rating should be the running average of the last 6 data-entries

[2019-10-13 16:27] #481 closed

[2019-10-15 13:18] bartleijssenaar commented on #403
The designs for the webpages are available on Zeplin. The filter required is 'new progress updates client'.

The same smiley system should be added to the weekly PM progress report.

[2019-10-16 07:46] vnuaha commented on #403
@bartleijssenaar could you please share the link to zeplin designs?

[2019-10-16 09:10] bartleijssenaar commented on #403
https://app.zeplin.io/project/5977533d141d9d52ca3e175d/screen/5da447a0f8be65249642f63b
https://app.zeplin.io/project/5977533d141d9d52ca3e175d/screen/5da447a085f67a23e56a9fba
https://app.zeplin.io/project/5977533d141d9d52ca3e175d/screen/5da447a1f2c331081a5d0d15

[2019-10-19 06:59] CODE-COMMANDERx commented on #482
Hey,
I think you hosted on the blacklisted server, which might be used for spamming.
Try to change the server company.

Find more reasons at -
https://optinmonster.com/11-reasons-why-your-emails-go-in-the-spam-box-and-how-to-make-sure-they-dont/

[2019-10-21 16:09] vnuaha opened #504 "The projects dashboard is not displaying any status/ project updates"
![Screenshot 2019-10-21 at 18.01.07.png](https://images.zenhubusercontent.com/5d31916ba06a4456d94adb7c/8866fc19-79a7-4f63-9d59-744b5e8b5a9c)

## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

## Expected behavior

## Minimal instructions for rep

[2019-10-21 16:19] vnuaha opened #505 "The page scroll is sluggish and needs to be smooth."
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

https://www.loom.com/share/29ee5c93f91a4598ba2bc0ca2a65c4e1

## Expected behavior

## Minimal instructions for reproducing the problem (optional for feature requests)

## What is the motivation /

[2019-10-22 08:38] #504 closed

[2019-10-30 07:05] vnuaha opened #507 "Display correct text on maintenance card"
## I'm submitting a ...

<pre><code>
[ ] Bug report
[ ] Feature request
[ ] Regression (behavior that used to work and stopped working in a new release)
[ ] Enhancement
</code></pre>

## Current behavior

The incorrect text is showing on the maintenance card

## Expected behavior

- Software Maintenance
Keep your product up to date
Bug-fixing, version upgrades, server maintenance
Lead time: servic

[2019-11-01 09:44] #507 closed

[2019-12-02 16:01] lytes20 commented on #403
@vnuaha could I be added to zeplin to view these designs linked above
Email: gideonbamuleseyo@gmail.com
Username: GideonBamuleseyo

[2019-12-12 09:20] vnuaha commented on #439
@bartleijssenaar there is no action/button to click after the PM has selected the custom days.

From an intuitive point of view, shouldn't we add an OK button in the design?

[2019-12-12 09:24] bartleijssenaar commented on #439
@vnuaha fine with me. We already have the UI element so this should be an easy task.

[2019-12-19 07:46] #457 closed

[2019-12-19 07:48] #503 closed

[2019-12-19 07:49] #462 closed

[2019-12-23 13:07] vnuaha commented on #487
![TUNGAlogoround.png](https://images.zenhubusercontent.com/5d31916ba06a4456d94adb7c/6d0f3b29-f813-469b-804d-63b785949559)
New Logo

[2019-12-24 06:58] vnuaha commented on #413
https://www.figma.com/proto/NZhqihSQzKVxMlRTOc4EGAOY/tunga?node-id=1744%3A21701&scaling=min-zoom

[2020-01-29 10:58] vnuaha commented on #411
@bartleijssenaar do you have designs for this?

@bomajosiah came up with these samples. Could you look at them and let me know what you think?
https://www.figma.com/file/NZhqihSQzKVxMlRTOc4EGAOY/tunga?node-id=2531%3A3753

[2020-01-29 10:59] vnuaha commented on #461
![Screen Shot 2020-01-24 at 09.28.58.png](https://images.zenhubusercontent.com/5d31916ba06a4456d94adb7c/aef4a340-b561-4022-a689-d2a5f529f87b)

@bartleijssenaar this is the design we have for this issue

[2020-01-29 13:50] bartleijssenaar commented on #461
Hmm. I think this is fine, although there must also be a design for when the user insert this link. A Thought @vnuaha @bomajosiah should we have a btn where they can link to their general github or other code repository platforms?

[2020-01-29 13:57] bartleijssenaar commented on #411
Thanks for this although these plans are slightly outdated. I will redraft them later this week.

[2020-01-29 14:06] vnuaha commented on #461
Specific repositories would make sense than just their general GitHub

[2020-01-29 14:10] bartleijssenaar commented on #461
OK!

[2020-02-19 07:20] #404 closed

[2020-02-19 07:20] #402 closed

[2020-02-19 07:20] #399 closed

[2020-02-19 07:24] #423 closed

[2020-02-19 07:25] #421 closed

[2020-02-19 07:26] #430 closed

[2020-02-19 07:26] #429 closed